absl-py==0.9.0
astor==0.8.1
atari-py==0.2.6
azure==1.0.3
azure-common==1.1.25
azure-mgmt==0.20.2
azure-mgmt-common==0.20.0
azure-mgmt-compute==0.20.1
azure-mgmt-network==0.20.1
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==0.20.1
azure-mgmt-storage==0.20.0
azure-nspkg==3.0.2
azure-servicebus==0.20.1
azure-servicemanagement-legacy==0.20.2
azure-storage==0.20.3
-e git+https://github.com/openai/baselines.git@902ffcb7674dd9f3c08a0037ae57ada852f13d74#egg=baselines
bleach==1.5.0
certifi==2020.4.5.1
chardet==3.0.4
-e git+http://github.com/tensorflow/cleverhans.git@f1d233688e5aea473c93d7afdc04910292f2c2b3#egg=cleverhans
cloudpickle==1.4.1
cycler==0.10.0
decorator==4.4.2
dill==0.3.1.1
enum34==1.1.10
gast==0.3.3
grpcio==1.28.1
-e git+https://github.com/openai/gym.git@6af4a5b9b2755606c4e0becfe1fc876d33130526#egg=gym
html5lib==0.9999999
idna==2.9
joblib==0.14.1
kiwisolver==1.2.0
Markdown==3.2.1
matplotlib==3.2.1
mnist==0.2.2
mpi4py==3.0.3
nose==1.3.7
numpy==1.18.3
opencv-python==4.2.0.34
Pillow==7.1.2
progressbar2==3.51.3
protobuf==3.11.3
pycodestyle==2.5.0
pyglet==1.5.4
PyOpenGL==3.1.5
pyparsing==2.4.7
python-dateutil==2.8.1
python-utils==2.4.0
pyzmq==19.0.0
requests==2.23.0
-e git+git@github.com:behzadanksu/rl-attack.git@f09636324dc61a1c251143d7980ff47f66df9144#egg=rlattack
scipy==1.4.1
six==1.14.0
tensorboard==1.8.0
tensorflow==1.8.0
tensorflow-probability==0.9.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
tqdm==4.45.0
urllib3==1.25.9
Werkzeug==1.0.1
zmq==0.0.0
